/* public/cookieconsent.css */
#cc--main {
  --cc-bg: #f5f5f5;
  --cc-text: #1f2937;
  --cc-btn-bg: #1f2937;
  --cc-btn-text: #f5f5f5;
  --cc-btn-hover-bg: #111827;
}
@media (prefers-color-scheme: dark) {
  #cc--main {
    --cc-bg: #1f2937;
    --cc-text: #f5f5f5;
    --cc-btn-bg: #f5f5f5;
    --cc-btn-text: #1f2937;
    --cc-btn-hover-bg: #d1d5db;
  }
}
